<% layout('/layouts/boilerplate.ejs') %>

<div class="row d-flex align-items-center" style="min-height: 70vh">
    <div class="alert alert-danger col-8 offset-2 d-flex justify-content-center align-items-center" role="alert">
        <span class="alert-heading text-center">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <%= message %>
        </span>
    </div>
</div>